<h1>Register</h1>
<form action="">
    <label><span>Email:</span>
        <input type="text" placeholder="example@example.com">
    </label>
    <label><span>Password:</span>
        <input type="password" placeholder="aY6!e!!%Su&A4D-O">
    </label>
    <label><span>Confirm Password:</span>
        <input type="password" placeholder="aY6!e!!%Su&A4D-O">
    </label>
    <label><span>First Name:</span>
        <input type="text">
    </label>
    <label><span>Last Name:</span>
        <input type="text">
    </label>
    <label><span>Birthday:</span>
        <input type="date">
    </label>
    <label><span>Phone Number:</span>
        <input type="text" placeholder="+000000000000">
    </label>
    
    <button>Register</button>
</form>

