<h1>Register</h1>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <label><span>Email:</span>
        <input type="text" formControlName="email" placeholder="example@example.com">
        <div *ngIf="email?.invalid && email?.touched">
            <small *ngIf="email?.errors?.['required']">Email is required</small>
            <small *ngIf="email?.errors?.['email']">Enter a valid email</small>
        </div>
    </label>
    
    <label><span>Password:</span>
        <input type="password" formControlName="password" placeholder="aY6!e!!%Su&A4D-O">
        <div *ngIf="password?.invalid && password?.touched">
            <small *ngIf="password?.errors?.['required']">Password is required</small>
            <small *ngIf="password?.errors?.['pattern']">{{regexData.PASSWORD_REGEX_MSG_ERR}}</small>
        </div>
    </label>
    
    <label><span>Confirm Password:</span>
        <input type="password" formControlName="confirmPassword" placeholder="aY6!e!!%Su&A4D-O">
        <div *ngIf="confirmPassword?.invalid && confirmPassword?.touched">
            <small *ngIf="confirmPassword?.errors?.['required']">Please confirm your password</small>
            <small *ngIf="confirmPassword?.errors?.['pattern']">{{regexData.PASSWORD_REGEX_MSG_ERR}}</small>
        </div>
    </label>
    
    <label><span>First Name:</span>
        <input type="text" formControlName="firstName">
        <div *ngIf="firstName?.invalid && firstName?.touched">
            <small *ngIf="firstName?.errors?.['required']">First Name is required</small>
            <small *ngIf="firstName?.errors?.['pattern']">{{regexData.FIRST_NAME_REGEX_MSG_ERR}}</small>
        </div>
    </label>
    
    <label><span>Last Name:</span>
        <input type="text" formControlName="lastName">
        <div *ngIf="lastName?.invalid && lastName?.touched">
            <small *ngIf="lastName?.errors?.['required']">Last Name is required</small>
            <small *ngIf="lastName?.errors?.['pattern']">{{regexData.LAST_NAME_REGEX_MSG_ERR}}</small>
        </div>
    </label>
    
    <label><span>Birthday:</span>
        <input type="date" formControlName="birthday">
        <div *ngIf="birthday?.invalid && birthday?.touched">
            <small *ngIf="birthday?.errors?.['required']">Birthday is required</small>
            <small *ngIf="birthday?.errors?.['pattern']">{{regexData.BIRTHDAY_REGEX_MSG_ERR}}</small>
        </div>
    </label>
    
    <label><span>Phone Number:</span>
        <input type="text" formControlName="phoneNumber" placeholder="+000000000000">
        <div *ngIf="phoneNumber?.invalid && phoneNumber?.touched">
            <small *ngIf="phoneNumber?.errors?.['required']">Phone number is required</small>
            <small *ngIf="phoneNumber?.errors?.['pattern']">{{regexData.PHONE_NUMBER_REGEX_MSG_ERR}}</small>
        </div>
    </label>
    
    <button type="submit">Register</button>
</form>

<!-- [disabled]="registerForm.invalid" -->