<ul>
    <li><a [routerLink]="['/']">Home</a></li>
    <ul>Users
        <li><a href="/users/users-all/pages">All Users By Pages</a></li>
        <li><a href="/users/users-all">All Users</a></li>
        <li><a href="/users/user-profile">User Profile</a></li>
        <li><a href="/users/user-update">User Update</a></li>
        <li><a href="/users/user-delete-id">Delete User By Id</a></li>
        <li><a href="/users/user-delete-id-fake">Delete User By Id Fake</a></li>
    </ul>
    <li><a [routerLink]="['/auth/login']">Login</a></li>
    <li><a [routerLink]="['/auth/register']">Register</a></li>
    <li><a [routerLink]="['/auth/confirm-registration']">Confirm Registration</a></li>
    <li><a [routerLink]="['/auth/reset-password']">Reset Password</a></li>
    <li><a [routerLink]="['/auth/create-new-password']">Create New Password</a></li>
</ul>