<h1>All Users</h1>
<form [formGroup]="searchUserForm" class="search-form" (ngSubmit)="onSubmit()">

  <label><span>SearchTerm:</span>
    <input type="text" formControlName="searchTerm" placeholder="...">
    <div *ngIf="searchTerm?.invalid && searchTerm?.touched">
      <small *ngIf="searchTerm?.errors?.['required']">Email is required</small>
    </div>
  </label>

  <button type="submit" [disabled]="searchUserForm.invalid">Search</button>
</form>
<table>
    <tr>
      <th>Name:</th>
      <th>Birtday:</th>
      <th>Phone:</th>
    </tr>
    <tr *ngFor="let user of allUsersByPageSorted">
      <td>{{user.firstName}} {{user.lastName}}
        <a [routerLink]="['/users/user-update', user.id]"><i class="bi bi-pencil"></i></a>
        <button (click)="deleteById('9375235')"><i class="bi bi-trash"></i></button>
      </td>
      <td>{{user.birthday}}</td>
      <td>{{user.phoneNumber}}</td>
    </tr>
  </table>

  <div class="pagination">
    <button (click)="previousPage()" [disabled]="page === 0">Previous</button>
    <span>Page {{ page + 1 }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="page >= totalPages - 1">Next</button>
  </div>
  