<h1>Create new password</h1>
<form [formGroup]="createNewPasswordForm" (ngSubmit)="onSubmit()">
    <label><span>New Password:</span>
        <input type="password" formControlName="password" placeholder="aY6!e!!%Su&A4D-O">
        <div *ngIf="password?.invalid && password?.touched">
            <small *ngIf="password?.errors?.['required']">Password is required</small>
            <small *ngIf="password?.errors?.['pattern']">{{regexData.PASSWORD_REGEX_MSG_ERR}}</small>
        </div>
    </label>
    
    <label><span>Confirm New Password:</span>
        <input type="password" formControlName="confirmPassword" placeholder="aY6!e!!%Su&A4D-O">
        <div *ngIf="confirmPassword?.invalid && confirmPassword?.touched">
            <small *ngIf="confirmPassword?.errors?.['required']">Please confirm your password</small>
            <small *ngIf="confirmPassword?.errors?.['pattern']">{{regexData.PASSWORD_REGEX_MSG_ERR}}</small>
        </div>
    </label>
    <button type="submit" [disabled]="createNewPasswordForm.invalid">Save New Password</button>
</form>