<h1>All Users</h1>
<table>
  <tr>
    <th>Name:</th>
    <th>Birtday:</th>
    <th>Phone:</th>
  </tr>
  <tr *ngFor="let user of allUsersByPageSorted">
    <td class="col1r">{{user.firstName}} {{user.lastName}}
      <div class="buttons">
        <a [routerLink]="['/users/user-update', user.id]"><i class="bi bi-pencil"></i></a>
        <button 
          *ngIf="loggedUserId !== user.id"
          (click)="deleteById(user.id)"><i class="bi bi-trash"></i></button>
      </div>
    </td>
    <td>{{user.birthday}}</td>
    <td>{{user.phoneNumber}}</td>
  </tr>
</table>

<div class="pagination">
  <button (click)="previousPage()" [disabled]="page === 0">Previous</button>
  <span>Page {{ page + 1 }} of {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="page >= totalPages - 1">Next</button>
</div>