.search-form {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.search-form input {
    width: 25rem;
    height: 2rem;
    display: inline-block;
    margin-right: 1rem;
}

.search-form button {
    display: inline-block;
    height: 4rem;
    width: 25rem;
}