<h1>Reset Password</h1>
<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <label><span>Email:</span>
        <input type="text" formControlName="email" placeholder="example@example.com">
        <div *ngIf="email?.invalid && email?.touched">
            <small *ngIf="email?.errors?.['required']">Email is required</small>
            <small *ngIf="email?.errors?.['email']">Enter a valid email</small>
        </div>
    </label>
    <button type="submit" [disabled]="resetPasswordForm.invalid">Reset Password</button>
</form>

<!--  -->