<h1>Home Page</h1>

<!-- <p>Проектът представлява система за влизане (Login) и регистрация (Register), разработена с учебна цел. 
    Основната му функционалност включва създаване на потребителски акаунти и достъп до системата след успешна автентикация.
    Проектът е написан с помощта на съвременни технологии и демонстрира основни принципи на сигурност и потребителско
     управление.

    Важно е да се отбележи, че за използване на проекта в професионална среда е необходимо допълнително конфигуриране и доработка на кода, за да отговори на конкретни изисквания и стандарти за сигурност.</p> -->

<p>The project represents a Login and Register system developed for educational purposes. 
    Its main functionality includes creating user accounts and accessing the system after successful authentication.
    The project is built using modern technologies and demonstrates key principles of security and user management.

    It is important to note that for professional use, the project requires additional configuration and further 
    code development to meet specific security and operational standards.</p>